body{ 
    height: 200vh;
}
div.static{ 
    border: 1px solid red;
    margin: 30px;
    padding: 30px;
    position: static;
    left: 50px;
}
div.relatif{ 
    border: 1px solid rgb(62, 39, 39);
    margin: 30px;
    padding: 30px;
    position: relative;
    left: 50px;
}
div.fixedd{ 
    border: 1px solid rgb(59, 21, 21);
    margin: 30px;
    padding: 30px;
    position: fixed;
    bottom: 0;
}
div.absolute{ 
    border: 1px solid rgb(93, 180, 112);
    margin: 30px;
    padding: 30px;
    position: absolute;
    bottom: 0;
    top: 80px;
}