html{ 
    scroll-behavior: smooth;
}
body{ 
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{ 
    padding: 0;
    margin: 0;
}
*{ 
    box-sizing: border-box;
}
.flex-container{ 
    width: 100vw;
    height: 400px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1,.box2,.box3{ 
    height: 80px;
    width: 80px;
    background-color: black;
    margin: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}